.Controls {
  max-width: 806px;
  height: 40px;
  border-style: solid;
  border-color: #365D80;
  border-width: 2px;
  border-radius: 4px;
  background-color: #020A0F;
  color: #ebf2f7;
  text-align: left;
  margin: 6px;
  display: flex;
  flex-flow: row wrap;
}

#progressSlider {
  width: 90%;
}

.progress-slider {
  width: 80%;
  margin: auto;
}

.btn-play {
  width: 6%;
  height: 18px;
  padding: 4px;
  margin: 4px;
  background-color: #365D80;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
}
