.media-ui {
  display: flex;
  flex-flow: row wrap;
  background-color: #020a0f;
}
.MediaPlayer {
  max-width: 1200px;
  max-height: 900px;
}

.MediaPlayer,
.media-config {
  /*border-style: solid;
  border-color: #365d80;
  border-width: 2px;
  border-radius: 4px;*/
  background-color: #020a0f;
  color: #ebf2f7;
  padding: 0px 2px 0px 2px;
  margin: 0px 6px 0px 6px;
}

span {
  opacity: 0;
}

@media all and (min-width: 480px) {
  .media-config {
    flex: 1 auto;
  }
}
@media all and (min-width: 768px) {
  .MediaPlayer {
    order: 1;
  }
  .media-config {
    order: 2;
  }
}
