#layerOne {
  background-color: rgba(16, 200, 128, 1);
}

.opacitometer-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.dual-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
