.Skip {
  padding-bottom: 18px;
}

#input-skip-ff,
#input-skip-rw {
  font-size: 12px;
  max-width: 36px;
  border-radius: 12px;
  padding-left: 3px;
  text-align: right;
}

#input-skip-ff {
  margin-right: 2px;
}

#input-skip-rw {
  margin-left: 2px;
}
.btn-skip-back,
.btn-skip-forward {
  font-size: 11px;

  margin: 2px;
}
.btn-skip-forward {
  width: 28px;
}
.btn-skip-back {
  width: 46px;
}
