
.video-display {
  display: flex;
  flex-flow: row wrap;
}
.playlist,
.currentVideo,
.video-config {
  flex: 1 100%;
}
.playlist,
.currentVideo,
.video-config {
  border-style: solid;
  border-color: #E9F5F4;
  border-width: 5px;
  border-radius: 16px;
  background-color: #1a1a1a;
  color: #ebf2f7;
  padding: 2px;
  margin: 6px;
}

@media all and (min-width: 480px) {
  .playlist,
  .video-config {
    flex: 1 auto;
  }
}
@media all and (min-width: 768px) {
  .currentVideo {
    flex: 2 0px;
  }
  .playlist {
    order: 1;
  }
  .currentVideo {
    order: 2;
  }
  .video-config {
    order: 3;
  }
}
