.btn-play {
  padding: 4px;
  margin: 4px;
}
.VideoPlayer {
  width: 800px;
  height: 600px;
}
.buffer-layer {
  width: 800px;
  height: 600px;
  left: 50%;
  z-index: 0;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loaded-video {
  display: block;
  position: fixed;
  width: 800px;
  height: 600px;
}

.layer {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  /*height: 74.5%;
  transform: translateY(17%);*/
}
.layer-0 {
  z-index: 0;
}
.layer-1 {
  z-index: 1;
  opacity: 1;
}
.layer-2 {
  z-index: 2;
  opacity: 0.5;
}
