
.video-display {
  display: flex;
  flex-flow: row wrap;
}
.VideoPlayer {
  max-width: 800px;
  max-height: 600px;
}

.VideoPlayer,
.video-config {
  border-style: solid;
  border-color: #365D80;
  border-width: 2px;
  border-radius: 4px;
  background-color: #020A0F;
  color: #ebf2f7;
  padding: 0px 2px 0px 2px;
  margin: 0px 6px 0px 6px;
}
span {
  opacity: 0;
}

@media all and (min-width: 480px) {
  .video-config {
    flex: 1 auto;
  }
}
@media all and (min-width: 768px) {
  .VideoPlayer {
    order: 1;
  }
  .video-config {
    order: 2;
  }

}
