
.video-display {
  display: flex;
  flex-flow: row wrap;
}
.currentVideo {
  flex: 1;
}
.playlist,
.video-config {
  flex: 2;
}
.playlist,
.currentVideo,
.video-config,
.App-header {
  border-style: solid;
  border-color: #365D80;
  border-width: 2px;
  border-radius: 4px;
  background-color: #020A0F;
  color: #ebf2f7;
  padding: 2px;
  margin: 6px;
}
.App-header {
  text-align: center;
  width: 98%;
  height: 50px;
  display: block;
  overflow: hidden;
}

.App-header p {
  font-family: Verdana, Arial;
  font-size: 18px;
  margin: auto;
  padding-top: 12px;
}

@media all and (min-width: 480px) {
  .playlist,
  .video-config {
    flex: 1 auto;
  }
}
@media all and (min-width: 768px) {
  .currentVideo {
    flex: 2 0px;
  }
  .playlist {
    order: 1;
  }
  .currentVideo {
    order: 2;
  }
  .video-config {
    order: 3;
  }

}
