.video-config {
  text-align: center;
}
.speed-control, .opacity-control {
  width: 48%;
  height: auto;
  font-size: 14px;
}
.skip {
  text-align: left;
  width: 90%
}
.speed-slider, .opacity-slider {
  width: 92%;
  height: 16px;
  outline: none;
}
