.App {
  text-align: left;
  display: block;
  max-width: 100%;
  height: 656px;
}

.App-header {
  max-width: 100%;
  height: 40px;
  margin: 6px;
  display: flex;
  flex-direction: row;
}

.now-playing {
  width: 804px;
}

.now-playing,
.FileLoader {
  border-style: solid;
  border-color: #365d80;
  border-width: 2px;
  border-radius: 4px;
  background-color: #020a0f;
  color: #C1F7CF;
  text-align: center;
  letter-spacing: 1.5px;
  height: 100%;
  margin: justify;

}

.App-header p {
  font-family: Verdana, Arial;
  font-size: 16px;
  margin: auto;
  padding-top: 12px;
}

#now-playing {
  text-align: center;
}

.FileLoader {
  text-align: center;
  margin-left: 12px;
  max-width: 30%;
}
