.App {
  text-align: left;
}

.App-header {
  text-align: center;
  width: 98%;
  height: 50px;
  border-style: solid;
  border-color: #E9F5F4;
  border-width: 5px;
  border-radius: 16px;
  background-color: #1a1a1a;
  color: #ebf2f7;
  padding: 2px;
  margin: 6px;
}

.App-header p {
  font-family: Verdana, Arial;
  font-size: 18px;
  margin: auto;
  padding-top: 12px;
}
